h1 {
background-color: #F15B31;
color: white;
padding: 30px 20px;
margin: 0;
}

body {
text-align: center;
}

nav {
  background-color: #00A6B3;
  padding: 20px 0px;
}

nav a{
  margin: 0px 20px;
  color: #FFFFFF;
  border-bottom: 2px solid transparent;
}

nav a:hover{
  border-bottom: 2px solid white;
}

main{
  width: 850px;
  margin-top: 35px;
  margin-bottom: 35px
}

main img{
  margin-top: 40px;
  margin-left: 8px;
  margin-right: 8px;
}

footer{
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: 0.8em;
  font-weight: 500;
}

.copyright{
  font-family: Raleway;
  float: left;
}

.message{
  font-family: Raleway;
  float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name{
  color: #F15B31;
  font-weight: 700;
}
